*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 40%;
}

label, span{
    margin-bottom: 5px;
}

input, textarea, select{
    border: none;
    padding: 5px 0px;
    border-radius: 5px;
}

textarea{
    resize: none;
}

.form-control{
    margin-bottom: 25px;
    text-align: center;
}

.form-control > *{
    display: block;
    width: 100%;
}

.success{
    color: green;
}

.fail{
    color: red;
}